{% extends 'base.html.twig' %}
{% block title %}Demand - list{% endblock %}
{% block body %}
<h1 class="h2"> Liste des demandes de cr&eacute;ation de compte </h1>
<table class="table table-hover" id="array-demands">
    <thead>
        <tr>
            <th>Pseudo</th>
            <th>created_at</th>
            <th>Role</th>
            <th>Valider</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        {% for userDemand in userDemands %}
        <tr>
            <td>{{ userDemand.username }}</a></td>
            <td>{{ userDemand.createdAt | date ('d/m/Y H:i') }}</td>
            <td>{{ userDemand.role }}</td>
            <td><input type="checkbox" name="checkbox-valider" value="{{ userDemand.id }}"></td>
            <td><input type="checkbox" name="checkbox-refuser" value="{{ userDemand.id}}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userDemand') }}
{% endblock %}